a {
    color: rgb(0, 0, 0);
}
a :hover {
    color: rgb(0, 0, 0);
}



.blog-background {
    background-color: var(--primary-blog-bg-color)
}
.text-blog-background {
    background-color: var(--text-blog-bg-color);
}

/*---------------------------------------*/



.blog-post-container{
    max-width: 50em;
    padding: var(--primary-element-padding);

}

.blog-post-text-container {
    border-radius: 0.5rem;
    border: solid var(--primary-border-width) var(--primary-border-color);
    padding: var(--primary-element-padding);
}

.blog-post-text-container > p {
    font-size: 1.2rem;
}

.blog-post-header {
    display: block;
    font-size: 3em;
    margin-top: 0.67rem;

    margin-left: 0;
    margin-right: 0;
    font-weight: bold;

    letter-spacing: 0.1rem;
    text-align: center;
    border-bottom: solid var(--primary-border-width) var(--primary-border-color);
}

.blog-post-info {
    margin-left: 0;
    margin-right: 0;
}

.blog-post-info-container {
    display: flex;
    align-items: center;
    height: 4rem;
    gap: 1.5rem;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    padding: 0 var(--primary-element-padding);
}




.blog-main-container {
    padding-top: 2rem;
    gap: 4rem;
}

.blog-post-card-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-width: 60%;
    background-color: rgb(57, 75, 56);
}


.blog-post-card {
    background-color: rgb(79, 107, 77);
    padding: 1rem 2rem;
    margin: 1rem;
    max-width: 75%;
    
}
.blog-post-card-text-container {

    padding: 0 2rem;
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.blog-post-card-user-container {
    margin-top: 1rem;
    border-top: 0.2rem solid black;
}

/*-----------------*/
.blog-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    gap: 1rem;
    margin-top: 2rem;
}
.blog-card {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: var(--accent-bg-color);
    padding: 1rem;
    flex-basis: 40%;


}

.blog-card-top-container {
    display: flex;
    justify-content: space-between;
}
.blog-card-top-container > a > h2, .blog-card-top-container > p {
    margin: 0;
}

.blog-card-text-container {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}



