



.primary-author-header {
    display: block;
    font-size: 1.2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
}

.small-author-header {
    display: block;
    font-size: 0.8em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    color: rgba(0,0,0,0.7);
}
